.form {
  max-width: 300px;
  margin: 0 10px;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__group > label {
  align-self: flex-start;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.form__group > input {
  margin-top: 4px;
  padding: 2px;
}

.form > button {
  cursor: pointer;
  display: block;
  float: right;
}
